
<br/>

<div class="container">
    <div class="well">
        <div class="col-sm-6">
            Category
            @Html.DropDownList("Category")
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/remoteCalls")

    @*<script id="Index.js" src="~/Scripts/PageScripts/Report/Index.js"
            data-Test="@Model.Test">
    </script>*@

}





