
@{
    ViewBag.Title = "Index";
}

<button onclick="call()">Call back</button>
<button onclick="call2()">Call back</button>

<div id="container" style="height: 400px"></div>

@section scripts
{
    @Scripts.Render("~/bundles/highChart")
    @Scripts.Render("~/bundles/remoteCalls")
    <script>

        function call() {
            RemoteCalls.Report_GetCategories(getCategory_callBack);
        };

        function getCategory_callBack(data) {
            
        }

        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45,
                        beta: 0
                    }
                },
                title: {
                    text: 'Browser market shares at a specific website, 2014'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 35,
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: [
                        ['Firefox', 45.0],
                        ['IE', 26.8],
                        {
                            name: 'Chrome',
                            y: 12.8,
                            sliced: true,
                            selected: true
                        },
                        ['Safari', 8.5],
                        ['Opera', 6.2],
                        ['Others', 0.7]
                    ]
                }]
            });
        });
    </script>
}


